<div class="main">
    <h3>Filter</h3>
</div>
<div class="container-fluid p-3">
    <div class="row row-cols-2 mt-2">
        <div class="col">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <mat-select (selectionChange)="changeSelect($event,'title')">
                    <mat-option *ngFor="let title of allTitle" [value]="title._id">{{title.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row row-cols-2 mt-2">
        <div class="col">
            <mat-form-field>
                <mat-label>Min Price</mat-label>
                <mat-select (selectionChange)="changeSelect($event,'minPrice')">
                    <mat-option *ngFor="let price of allPrice" [value]="price">{{price}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Max Price</mat-label>
                <mat-select (selectionChange)="changeSelect($event,'maxPrice')">
                    <mat-option *ngFor="let price of allPrice" [value]="price">{{price}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row row-cols-2 mt-2">
        <div class="col">
            <mat-form-field>
                <mat-label>Max People</mat-label>
                <mat-select (selectionChange)="changeSelect($event,'maxPeople')">
                    <mat-option *ngFor="let people of allPeople" [value]="people">{{people}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select (selectionChange)="changeSelect($event,'status')">
                    <mat-option value="Empty">Empty</mat-option>
                    <mat-option value="Full">Full</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="btn_group m-2">
        <button mat-raised-button class="reset" (click)="cancel()">Reset</button>
        <button mat-raised-button class="apply" (click)="apply()">Apply</button>
    </div>
</div>