
<div class="main">
    <h3>Filter</h3>
</div>
<div class="container-fluid p-3">
    <div class="row row-cols-2 mt-2">
        <div class="col">
            <mat-form-field>
                <mat-label>From Date</mat-label>
                <input type="date" matInput>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>To Date</mat-label>
                <input type="date" matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="row row-cols-2 mt-2">
        <div class="col">
            <mat-form-field>
                <mat-label>Customer Name</mat-label>
                <mat-select>
                    <mat-option>Arkar</mat-option>
                    <mat-option>Ko Ko</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Room Number</mat-label>
                <mat-select>
                    <mat-option>101</mat-option>
                    <mat-option>102</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row row-cols-2 mt-2">
        <div class="col">
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select>
                    <mat-option>Reject</mat-option>
                    <mat-option>Approve</mat-option>
                    <mat-option>Pending</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="btn_group m-2">
        <button mat-raised-button class="reset">Reset</button>
        <button mat-raised-button class="apply">Apply</button>
    </div>
</div>