.header{
    display: flex;
    justify-content: space-between;
}

mat-icon{
    width: 40px;
    height: 40px;
    font-size: 36px;
    cursor: pointer;
}
.view{
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: blue !important;
}
.active{
    text-align: left !important;
}
.on_toggle{
    color: green !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
}
.off_toggle{
    color:red !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 48px;
}
.profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px black;
    margin:5px 0px;
}
.image{
    width: 60px;
    height: 60px;
    padding: 5px;
}