.header{
    display: flex;
    justify-content: space-between;
}
h3{
    font-size: 32px;
    font-weight: 400;
}
mat-icon{
    width: 50px;
    height: 50px;
    font-size: 36px;
    cursor: pointer;
}