<div class="home">
    <h3>History</h3>
    <button mat-icon-button>
        <mat-icon>filter_list</mat-icon>
    </button>
</div>
<div>
    <mat-card *ngFor="let transaction of allTransactions">
        <mat-card-header>
            <p class="order" [ngStyle]="{backgroundColor: transaction.paymentType === 'Cash' ? 'hsl(120, 57%, 56%)':'blue'}">{{transaction.paymentType}}</p>
        </mat-card-header>
            <p class="roomNumber">(Room Number - <span>{{transaction.roomNumber}}</span>)</p>
            <mat-card-content>
               <div class="footer">
                <p class="footerContent">Payment - <span>{{transaction.orderId}}</span></p>
                    <p class="footerContent">Payment Date - <span>{{transaction.createdAt | date:'dd/MM/yyyy'}}</span></p>
                    <p class="footerContent">Tax(5%) - <span>{{transaction.tax}}Ks</span></p>
                    <p class="footerContent">General Checking - <span>{{transaction.generalChecking}}Ks</span></p>
                    <hr>
                    <p class="footerContent">Total - <span>{{transaction.total}}Ks</span></p>
               </div>
            </mat-card-content>
    </mat-card>
</div>