<div class="main">
    <div class="header">
        <button mat-icon-button routerLink="/customer/home">
            <mat-icon>west</mat-icon>
        </button>
        <p>Popular List</p>
    </div>
    <div *ngIf="isloading">
        <app-loading></app-loading>
    </div>
    <div class="middleCard" *ngIf="!isloading">
        <app-card *ngFor="let popular of allPopularList" [title]="popular.title" [maxPeople]="popular.maxPeople" [price]="popular.price" [image]="popular.images" [id]="popular._id"></app-card>
    </div>
</div>
