<div class="home">
    <h3>Find Your <span>Hotel Room</span></h3>
    <div class="searchBox">
        <div class="inputBox">
            <mat-icon class="icon">search</mat-icon>
            <input type="text" matInput placeholder="Search Room" routerLink="/customer/search">
        </div>
        <button mat-icon-button>
            <mat-icon>tune</mat-icon>
        </button>
    </div>
    <div class="headerBox">
        <div class="middleBox">
            <div class="box">
                <h4>Recommended</h4>
                <button mat-icon-button routerLink="/customer/recommended">
                    <mat-icon>east</mat-icon>
                </button>
            </div>
            <div class="cardBox">
                <app-card></app-card>
                <app-card></app-card>
            </div>
        </div>
        <div class="middleBox">
            <div class="box">
                <h4>Popular</h4>
                <button mat-icon-button  routerLink="/customer/popular">
                    <mat-icon>east</mat-icon>
                </button>
            </div>
            <div class="cardBox">
                <app-card></app-card>
                <app-card></app-card>
            </div>
        </div>
        <div class="middleBox">
            <div class="box">
                <h4>Budget</h4>
                <button mat-icon-button routerLink="/customer/budget">
                    <mat-icon>east</mat-icon>
                </button>
            </div>
            <div class="cardBox">
                <app-card></app-card>
                <app-card></app-card>
            </div>
        </div>
    </div>
    
</div>