<div class="home">
    <h3>Find Your <span>Hotel Room</span></h3>
    <div class="searchBox">
        <div class="inputBox">
            <mat-icon class="icon">search</mat-icon>
            <input type="text" matInput placeholder="Search Room" routerLink="/customer/search">
        </div>
        <button mat-icon-button>
            <mat-icon>filter_list</mat-icon>
        </button>
    </div>
    <div *ngIf="isloading">
        <app-loading></app-loading>
    </div>
    <div class="headerBox" *ngIf="!isloading">
        <div class="middleBox" >
            <div class="box">
                <h4>Recommended</h4>
                <button mat-icon-button routerLink="/customer/recommended">
                    <mat-icon>east</mat-icon>
                </button>
            </div>
            <div class="cardBox">
                <app-card *ngFor="let recommended of recommendLists" [maxPeople]="recommended.maxPeople" [price]="recommended.price" [title]="recommended.title" [image]="recommended.images"></app-card>
            </div>
        </div>
        <div class="middleBox">
            <div class="box">
                <h4>Popular</h4>
                <button mat-icon-button  routerLink="/customer/popular">
                    <mat-icon>east</mat-icon>
                </button>
            </div>
            <div class="cardBox">
                <app-card *ngFor="let popular of popularList" [maxPeople]="popular.maxPeople" [image]="popular.images" [price]="popular.price" [title]="popular.title"></app-card>
            </div>
        </div>
        <div class="middleBox">
            <div class="box">
                <h4>Budget</h4>
                <button mat-icon-button routerLink="/customer/budget">
                    <mat-icon>east</mat-icon>
                </button>
            </div>
            <div class="cardBox">
                <app-card *ngFor="let budget of budgetList" [maxPeople]="budget.maxPeople" [image]="budget.images" [price]="budget.price" [title]="budget.title"></app-card>
            </div>
        </div>
    </div>
    
</div>