.home{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h3{
    font-size: 18px !important;
}
.midle{
    padding: 1rem 0.8rem;
}
mat-form-field{
    width: 100%;
}
.action{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    margin-right: 0.5rem;
}
button:nth-child(1){
    background-color: red !important;
    color: white !important;
}
button:nth-child(2){
    background-color: var(--primary-color) !important;
    color: white !important;
}