<div>
    <div class="header">
        <h3>Order Listings</h3>
        <div>
            <mat-icon>search</mat-icon>
            <mat-icon matTooltip="Filter" (click)="filter()">filter_alt</mat-icon>
            <mat-icon>download_2</mat-icon>
        </div>
    </div>
    <div *ngIf="loading">
        <app-loading></app-loading>
    </div>
    <div class="middle" *ngIf="!loading">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
  

        <ng-container matColumnDef="orderNo">
          <th mat-header-cell *matHeaderCellDef> orderNo </th>
          <td mat-cell *matCellDef="let element"> {{element.orderNo}} </td>
        </ng-container>

        <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef>Customer Name</th>
            <td mat-cell *matCellDef="let element"> {{element.userId}}</td>
        </ng-container>

        <ng-container matColumnDef="roomNumber">
          <th mat-header-cell *matHeaderCellDef> Room Number </th>
          <td mat-cell *matCellDef="let element"> {{element.roomNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="roomPrice">
            <th mat-header-cell *matHeaderCellDef> Room Price </th>
            <td mat-cell *matCellDef="let element" class="money"> {{element.totalPrice || '0'}} Ks </td>
        </ng-container>

        <ng-container matColumnDef="maxPeople">
            <th mat-header-cell *matHeaderCellDef> Max People </th>
            <td mat-cell *matCellDef="let element"> {{element.maxPeople}} </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef> From Date </th>
          <td mat-cell *matCellDef="let element" class="money">{{element.fromDate || '-' | date:'d MMMM, y, h:mm a'}}  </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> To Date </th>
            <td mat-cell *matCellDef="let element" class="money"> {{element.toDate || '-' | date:'d MMMM, y, h:mm a'}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description || " _ "}} </td>
          </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{color:element.status === 'Cancel'?'red':'#ffc107'}"> {{element.status}} </td>
        </ng-container> 
        

        <ng-container matColumnDef="action" stickyEnd="true">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
            <div class="btn_group" *ngIf="element.status === 'Pending'">
                <button mat-raised-button class="cancel" (click)="reject(element._id)">Reject</button>
                <button mat-raised-button class="save" (click)="approve(element._id)">Approve</button>
            </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
</div>
<mat-paginator [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
</mat-paginator>