<div class="home">
    <h3>Order List</h3>
    <button mat-icon-button>
        <mat-icon>filter_list</mat-icon>
    </button>
</div>
<div>
    <mat-card *ngFor="let order of allOrders">
        <mat-card-header *ngIf="order.status !== 'Pending'">
            <p class="status" [ngStyle]="{color: order.status === 'Paid'?'#007bff': order.status === 'Reject' ? '#dc3545' : order.status === 'Pending' ? '#ffc107': order.status === 'Cancel' ? 'red':'#28a745'}">{{order.status}}</p>
        </mat-card-header>
            <mat-card-content>
                <div class="footerNumber">
                    <h5 class="roomNumber">RoomNumber - </h5>
                    <h5 class="roomNumber">{{order.roomNumber}}</h5>
                </div>
                <div class="date">
                    <p>From Date</p>
                    <p>To Date</p>
                </div>
                <div class="date">
                    <p>{{order.fromDate | date: 'dd/MM/yyyy'}}</p>
                    <p>{{order.toDate | date: 'dd/MM/yyyy'}}</p>
                </div>
                <div class="mainFooter">
                    <div class="footer">
                        <h5>
                            <mat-icon>person</mat-icon>
                            <span>{{order.maxPeople}}</span>
                        </h5>
                    </div>
                    <div class="footer">
                        <h5>Total -</h5>
                        <h5>{{order.totalPrice}}Ks</h5>
                    </div>
                </div>
            </mat-card-content>
        <mat-card-actions *ngIf="order.status === 'Pending'">
            <button mat-raised-button class="cancel" (click)="cancel(order._id)">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>