<div class="home">
    <h3>Order List</h3>
    <button mat-icon-button>
        <mat-icon>filter_list</mat-icon>
    </button>
</div>
<div>
    <mat-card>
        <mat-card-header>
            <p class="status">Approve</p>
        </mat-card-header>
        <div class="middleContent">
            <img mat-card-image src="assets/images/testImage.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div class="date">
                    <p>From Date</p>
                    <p>To Date</p>
                </div>
                <div class="date">
                    <p>12/12/2024</p>
                    <p>12/12/2024</p>
                </div>
                <div class="footer">
                    <mat-icon>person</mat-icon>
                    <h5>4</h5>
                </div>
                <div class="footer">
                    <h5>Total -</h5>
                    <h5>100000</h5>
                </div>
            </mat-card-content>
        </div>
        <mat-card-actions>
            <button mat-raised-button class="cancel">Cancel</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <p class="status">Approve</p>
        </mat-card-header>
        <div class="middleContent">
            <img mat-card-image src="assets/images/testImage.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div class="date">
                    <p>From Date</p>
                    <p>To Date</p>
                </div>
                <div class="date">
                    <p>12/12/2024</p>
                    <p>12/12/2024</p>
                </div>
                <div class="footer">
                    <mat-icon>person</mat-icon>
                    <h5>4</h5>
                </div>
                <div class="footer">
                    <h5>Total -</h5>
                    <h5>100000</h5>
                </div>
            </mat-card-content>
        </div>
        <mat-card-actions>
            <button mat-raised-button class="cancel">Cancel</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <p class="status">Approve</p>
        </mat-card-header>
        <div class="middleContent">
            <img mat-card-image src="assets/images/testImage.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div class="date">
                    <p>From Date</p>
                    <p>To Date</p>
                </div>
                <div class="date">
                    <p>12/12/2024</p>
                    <p>12/12/2024</p>
                </div>
                <div class="footer">
                    <mat-icon>person</mat-icon>
                    <h5>4</h5>
                </div>
                <div class="footer">
                    <h5>Total -</h5>
                    <h5>100000</h5>
                </div>
            </mat-card-content>
        </div>
        <mat-card-actions>
            <button mat-raised-button class="cancel">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>