<div class="home">
    <h3>User Profile</h3>
</div>
<div class="header">
    <button mat-fab extended>
        <mat-icon>edit</mat-icon>
        Edit
    </button>
</div>
<div class="inputBox">
    <input type="text" placeholder="FullName" matInput>
    <input type="text" placeholder="Email" matInput>
    <input type="text" placeholder="Password" matInput>
    <input type="number" placeholder="PhNo" matInput>
    <input type="text" placeholder="NRCNo" matInput>
    <input type="text" placeholder="State" matInput>
    <input type="text" placeholder="Township" matInput>
</div>