<div class="main">
    <div class="header">
        <button mat-icon-button routerLink="/customer/home">
            <mat-icon>west</mat-icon>
        </button>
        <p>Recommended List</p>
    </div>
    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
    <div class="middleCard" *ngIf="!isLoading">
        <app-card *ngFor="let recommended of allRecommendedList" [title]="recommended.title" [maxPeople]="recommended.maxPeople" [price]="recommended.price" [image]="recommended.images"></app-card>
    </div>
</div>
