.header{
    display: flex;
    justify-content: space-between;
}

mat-icon{
    width: 40px;
    height: 40px;
    font-size: 36px;
    cursor: pointer;
}
.view{
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: blue !important;
}
.active{
    text-align: left !important;
}

.profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px black;
    margin:5px 0px;
}