<div class="main">
    <div class="header">
        <button mat-icon-button routerLink="/customer/home">
            <mat-icon>west</mat-icon>
        </button>
        <p>Budget List</p>
    </div>
    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
    <div class="middleCard" *ngIf="!isLoading">
        <app-card *ngFor="let budget of allBudgetList" [title]="budget.title" [maxPeople]="budget.maxPeople" [price]="budget.price" [image]="budget.images" [id]="budget._id"></app-card>
    </div>
</div>
