<div>
    <div class="header">
        <h3>Transaction</h3>
        <div>
            <mat-icon>search</mat-icon>
            <mat-icon matTooltip="Create" (click)="create()">add_circle</mat-icon>
            <mat-icon matTooltip="Filter" (click)="filter()">filter_alt</mat-icon>
            <mat-icon>download_2</mat-icon>
        </div>
    </div>
    <div *ngIf="loading">
      <app-loading></app-loading>
    </div>
    <div class="middle" *ngIf="!loading">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="orderNo">
          <th mat-header-cell *matHeaderCellDef>OrderNo</th>
          <td mat-cell *matCellDef="let element"> {{element.orderId}}</td>
        </ng-container>

        <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef>Customer Name</th>
            <td mat-cell *matCellDef="let element"> {{element.userId}}</td>
          </ng-container>
      
        <ng-container matColumnDef="roomNumber">
          <th mat-header-cell *matHeaderCellDef> Room Number </th>
          <td mat-cell *matCellDef="let element"> {{element.roomNumber}} </td>
        </ng-container>
      
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>

        <ng-container matColumnDef="roomPrice">
          <th mat-header-cell *matHeaderCellDef> Room Price </th>
          <td mat-cell *matCellDef="let element"> {{element.roomPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="generalChecking">
          <th mat-header-cell *matHeaderCellDef> General Checking </th>
          <td mat-cell *matCellDef="let element"> {{element.generalChecking}} </td>
        </ng-container>

        <ng-container matColumnDef="tax">
          <th mat-header-cell *matHeaderCellDef> Tax(5%) </th>
          <td mat-cell *matCellDef="let element"> {{element.tax}} </td>
        </ng-container>
      
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef> Payment Date </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'d MMMM, y, h:mm a'}} </td>
        </ng-container>

          <ng-container matColumnDef="paymentType">
            <th mat-header-cell *matHeaderCellDef> PaymentType </th>
            <td mat-cell *matCellDef="let element"> {{element.paymentType}} </td>
          </ng-container>


          <ng-container matColumnDef="action" stickyEnd="true">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon class="view" matTooltip="View" (click)="viewTransaction()">visibility</mat-icon>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>