<div class="main">
    <h3>Create Transaction</h3>
</div>

<div class="container-fluid p-3">
    <div class="row row-cols-2">
        <div class="col">
            <mat-form-field>
                <mat-label>Customer Order No</mat-label>
                <mat-select (selectionChange)="changeOrderNo($event)">
                    <div class="inputHeader">
                        <mat-label class="label">Filter:</mat-label>
                        <input type="text" placeholder="Search..." matInput autocomplete="off" class="inputChange" (keyup)="checkOrder($event)">
                    </div>
                    <mat-option *ngFor="let order of orderLists" [value]="order">{{order}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Customer Name</mat-label>
                <input type="text" matInput disabled [value]="allOrders[0]?.userId">
            </mat-form-field>
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="col">
            <mat-form-field>
                <mat-label>Room Number</mat-label>
                <input type="text" matInput disabled [value]="allOrders[0]?.roomId">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Room Price</mat-label>
                <input type="text" matInput disabled [value]="allOrders[0]?.roomPrice">
            </mat-form-field>
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="col">
            <mat-form-field>
                <mat-label>From Date</mat-label>
                <input type="text"
                    placeholder="YYYY-MM-DD"
                    bsDatepicker
                    [daysDisabled]="[6,0]"
                    [value]="(allOrders[0]?.fromDate || fromDate) | date: 'yyyy-MM-dd'"
                    [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" matInput class="date" (bsValueChange)="dateChange($event)">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>To Date</mat-label>
                <input type="text"
                    placeholder="YYYY-MM-DD"
                    bsDatepicker
                    [daysDisabled]="[6,0]"
                    [value]="(allOrders[0]?.toDate || toDate) | date: 'yyyy-MM-dd'"
                    [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" matInput class="date" (bsValueChange)="toDateChange($event)">
            </mat-form-field>
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="col">
            <mat-form-field>
                <mat-label>General Checking</mat-label>
                <input type="number" matInput autocomplete="off" (change)="general($event)" [value]="checking" [disabled]="show">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Tax(5%)</mat-label>
                <input type="number" matInput disabled [value]="totalAmount.tax || 0">
            </mat-form-field>
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="col">
            <mat-form-field>
                <mat-label>Payment Type</mat-label>
                <mat-select>
                    <mat-option value="Cash">Cash</mat-option>
                    <mat-option value="Banking">Banking</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Total</mat-label>
                <input type="number" matInput disabled [value]="totalAmount.total || 0">
            </mat-form-field>
        </div>
    </div>
    <div class="btn_group m-3">
        <button class="cancel" mat-raised-button>Cancel</button>
        <button class="save" mat-raised-button>Save</button>
    </div>
</div>