<div>
    <div class="inputBox">
        <input type="text" matInput placeholder="Search Room" (keyup)="inputChange($event)">
        <button mat-icon-button (click)="searching()" class="button">
            <mat-icon>search_alt</mat-icon>
        </button>
    </div>
    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
    <div class="middleBox" *ngIf="!isLoading">
        <app-card *ngFor="let room of allRoom" [image]="room.images" [price]="room.price" [title]="room.title" [maxPeople]="room.maxPeople" [id]="room._id"></app-card>
    </div>    
</div>