<div class="main">
    <h3>Create Room</h3>
</div>
<div class="container-fluid p-3">
    <div class="row row-cols-2 mt-1">
        <div class="col">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <mat-select (selectionChange)="titleChange($event)">
                    <mat-option *ngFor="let room of roomTitle" [value]="room._id">{{room.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Room Numbers</mat-label>
                <input type="number" matInput placeholder="100" autocomplete="off" [(ngModel)]="roomNumber">
            </mat-form-field>
        </div>
    </div>
    <div class="row row-cols-2 mt-1">
        <div class="col">
            <mat-form-field>
                <mat-label>Max People</mat-label>
                <input type="number" matInput placeholder="0" autocomplete="off" [(ngModel)]="maxPeople">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Price</mat-label>
                <input type="number" matInput placeholder="0" autocomplete="off" [(ngModel)]="price">
            </mat-form-field>
        </div>
    </div>
    <div class="row row-cols-1 mt-1">
        <div class="col">
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input type="text" matInput placeholder="description" autocomplete="off" [(ngModel)]="description">
            </mat-form-field>
        </div>
    </div>
    <div class="row row-cols-2 mt-1">
        <div class="col-6 multiple">
            <label for="upload" class="upload">
                <mat-icon class="upload_icon">upload_file</mat-icon>
                <span>Upload</span>
            </label>
            <input type="file" hidden id="upload"(change)="upload($event)" accept=".jpeg,.jpg,.png">
        </div>
        <div class="col-6">
            <div class="row row-cols-2 file">
                <div class="col images" *ngIf="active"></div>
                <div class="col images" *ngIf="!active">
                    <img  [src]="imagesId.url" alt="uploadImage" class="img"/>
                </div>
            </div>
        </div>
    </div>
    <div class="btn_group m-3">
        <button class="cancel" mat-raised-button (click)="cancel()">Cancel</button>
        <button class="save" mat-raised-button (click)="saveRoom()">Save</button>
    </div>
</div>
