/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   --primary-color:green;
   --secondary-color:red;
   --table-head-color:rgb(94, 236, 94);
}
h3{
    font-size: 24px !important;
    font-weight: 400 !important;
}
.header{
    padding:1rem 1rem 0rem 1rem;
}
table thead tr{
    text-wrap: nowrap !important;
}
table tbody tr{
    text-wrap: nowrap !important;
}
.mdc-data-table__cell{
    text-align: center !important;
}
.mdc-data-table__header-cell{
    text-align: center !important;
    font-size: 18px;
    font-weight: 500;
    color: white !important;
}
.money{
    text-align: right !important;
}
table th{
    background-color: var(--table-head-color) !important;
}
.middle{
    width: 100%;
    height: calc(100vh - 190px);
    overflow: auto;
    padding-left: 1rem;
}
mat-paginator{
    position:absolute;
    bottom: 1%;
    right: 0%;
    width: 100%;
}
.btn_group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cancel{
    background-color: var(--secondary-color) !important;
    color: white !important;
    width: 100px;
    margin-right: 1rem;
}
.save{
    background-color: var(--primary-color) !important;
    color: white !important;
    width: 100px;
}
.reset{
    background-color: var(--secondary-color) !important;
    width: 100px;
    color: white !important;
    margin-right: 1rem;
}
.apply{
    background-color: blue !important;
    width: 100px;
    color: white !important;
}
@media (max-width:1551px) {
    .mat-mdc-row, .mdc-data-table__content{
        height: 48px !important;
    }
    .mat-mdc-header-row{
        height: 40px !important;
    }
    .mdc-data-table__header-cell{
        font-size: 14px;
        font-weight: 500;
    }
}