<mat-toolbar>
    <a routerLink="/customer/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  class="footer">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </a>
    <a routerLink="/customer/search" routerLinkActive="active" class="footer">
        <mat-icon>search</mat-icon>
        <span>Search</span>
    </a>
    <a routerLink="/customer/order" routerLinkActive="active" class="footer">
        <mat-icon>list_alt</mat-icon>
        <span>Orders</span>
    </a>
    <a routerLink="/customer/booking" routerLinkActive="active" class="footer">
        <mat-icon>receipt_long</mat-icon>
        <span>History</span>
    </a>
    <a routerLink="/customer/profile" routerLinkActive="active"class="footer">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
    </a>
</mat-toolbar>