<div class="main">
    <h3>View Detail</h3>
</div>
<div class="container-fluid p-3">
    <div class="row row-cols-2 mt-1 p-2">
        <div class="col">
            <p>Id: <span>1</span></p>
            <p>Joining Date: <span>08/12/2024</span></p>
        </div>
        <div class="col">
            <div class="image_container">
                <div class="images"></div>
            </div>
        </div>
    </div>
    <div class="row row-cols-2 mt-1">
        <div class="col">
            <div class="header">
                <label>Name:</label>
                <input type="text" value="Arkar" disabled>
            </div>
        </div>
        <div class="col">
            <div class="header">
                <label>Email:</label>
                <input type="text" value="arkar@gmail.com" disabled>
            </div>
        </div>
    </div>
    <div class="row row-cols-2 mt-1">
        <div class="col">
            <div class="header">
                <label>NRC:</label>
                <input type="text" value="12/MYK(N)111222" disabled>
            </div>
        </div>
        <div class="col">
            <div class="header">
                <label>Contact Number:</label>
                <input type="text" value="092342343334" disabled>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 mt-1">
        <div class="header">
            <label>Address:</label>
            <input type="text" value="KaBaAye Housing" disabled>
        </div>
    </div>
    <div class="print">
        <button class="cancel" mat-raised-button>Cancel</button>
        <button class="apply" mat-raised-button>Print</button>
    </div>
</div>